@{
    ViewData["Title"] = "Home Page";
}


<div>
    <div class="Customer">
        <div class="row" data-bind="">
            <div class="col-4">
                <label>Customer Name</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-4">
                <label>Address</label>
                <input type="text" class="form-control" " />
            </div> <div class="col-4">
                <label>PhoneNo:</label>
                <input type="text" class="form-control" " />
            </div>
        </div>
    </div>
<div style="position:relative">
    <br />
    <input data-bind="value: SearchedString, valueUpdate: 'afterkeydown', event: { keyup: performSearch }" placeholder="Search" />
    <br />
    <ol data-bind="foreach:SearchDropDown" style="position:absolute;top:60px;background:white;width:18%">
        <li data-bind="text:name, click:$root.Testing"></li>
    </ol>
</div>
<div data-bind="with:newItemVm">
    <input  data-bind="value:price"/>

</div>
<div data-bind="with:newItemVm">
    <input data-bind="value:price"/>
    <div class="item">
        <div class="row">
            <div class="col-4">
                <label>Item</label>
                <input class="form-control" data-bind="value:name" />
            </div>
            <div class="col-4">
                <label>Price</label>
                <input type="text" class="form-control" data-bind="value:price"/>
            </div>
            <div class="col-4">
                <label>Quantity:</label>
                <input type="text" class="form-control" data-bind="value:quantity" />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label>Discount:</label>
                <input type="text" class="form-control" data-bind="value:discount"  />
            </div>
            <div class="col-4">
                <label>Total:</label>
                <input type="text" class="form-control" data-bind="value:total" />
            </div>
            <div class="col-4">
                <button type="submit">
                    <span data-bind="click:$root.ItemAddToCheckOut">Add</span>
                </button>
            </div>
        </div>
    </div>
</div>




<table class="table table-striped">
    <thead>
        <tr>
            <th>SN</th>
            <th>item Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Discount</th>
            <th>Total</th>
            <td>Action</td>
        <tr>

    </thead>
    <tbody data-bind="foreach:CheckoutItemArray">
        <tr>
            <td data-bind="text:$index()+1"></td>
            <td data-bind="text:name"></td>
            <td data-bind="text:price"></td>
            <td data-bind="text:quantity"></td>
            <td data-bind="text:discount"></td>
            <td data-bind="text:total"></td>
            <td>
                <button class="btn btn-primary" data-bind="click:$root.Update">Edit</button>
                <button class="btn btn-danger" data-bind="click:$root.DeleteItem">Delete</button>

            </td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <td>Total:</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
                <td data-bind="text:$root.grandTotal"></td>
        </tr>
    </tfoot>
</table>


@section Scripts{
    <script src="~/js/knockout.js"></script>
    <script src="~/js/app/item.model.js"></script>
    <script src="~/js/app/item.controller.js"></script>
    <script>
        var objitem = new itemController();
        ko.applyBindings(objitem);
    </script>
}